# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:password@localhost:5432/mydb?schema=public"
PORT=8080

APP_ENV=development
APP_SECRET=dsjksjsj
APP_NAME=node-backend
APP_DOMAIN=localhost:3000
APP_LOGO=sjsjs
APP_FRONTEND_DOMAIN=localhost:3000

REDIS_MODE=single
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=MDNcVb924a
SENDGRID_API_KEY=SG.apikey
SENDGRID_EMAIL_FROM=sender@localhost.com

S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=ROOTUSER
S3_SECRET_KEY=CHANGEME123
S3_BUCKET=cms-dashboard
S3_REGION=us-east-1
